@charset "UTF-8";

body {
    background-color: rgb(170, 253, 170);
    font-family: Arial, Helvetica, sans-serif;
}
/*
Em CSS, o seletor de ID é representado pelo símbolo "#", 
Em CSS, o seletor de classe é representado pelo símbolo "."
*/

h1 {
    color: rgb(43, 134, 6);
}

h1#principal {
    text-align: center;
    background-color: rgb(43, 134, 6);
    color: white;
}

h2 {
    color: rgb(19, 87, 10);
}

.basico {
    color: rgb(53, 177, 53);
}
.intermediario {
    color: orange;
}  
.avancado {
    color: red;
}
.destaque {
    background-color: #b1c982a1;
}