@charset "UTF-8";

* {
box-sizing: border-box;
margin: 0;
padding: 0;
}

:root{
    --cor1: #FFF000;
    --cor2: #0099FF;
    --cor3: #0055FF;
    --cor4: #FFFFFF;
    --cor5: #000000;
    --cor6: #FF7800;
    --cor7: #A52A2A;
    --cor8: #4A260B;

    --fonte-padrão: arial, verdana, helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', 'cursive';
    --font-freefire: 'UrbanJungleDEMO', 'cursive'; 
}

.container{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 80px 40px 1fr 40px;
    grid-template-columns: 1fr .5fr;
    gap: 5px;
}

.caixa{
    background-color: rgba(255, 255, 255, 0.699);
    padding: 10px;
    text-align: center;
}

p{
    margin: 15px 0px;   
    text-align: justify;
    text-indent: 30px;
    font-size: 1.1em;
    line-height: 2em;
}

#topo {
    grid-row: 1 / 2;
    grid-column: 1 / -1;
}

#menu {
    grid-row: 2 / 2;
    grid-column: 1 / -1;

    padding: 10px;
}

nav a {
    color: var(--cor2);
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition-duration: .5s    ;
}

nav a:hover {
    background-color: var(--cor3);
    color: var(--cor5);
}

#principal {
    grid-row: 3 / 3;
    grid-column: 1 / 2;
}

#secundario {
    grid-row: 3 / 3;
    grid-column: 2 / -1;
}

aside > img{

}

#rodapé {
    grid-row: 4 / 4;
    grid-column: 1 / -1;
}