@charset

* {
    height: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background-image: linear-gradient(-45deg, #9EF8EE, #22BABB);
}

main {
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 20px ;
    box-shadow: 5px 5px 15px rgb(83, 82, 82);
}

h1 {
    color: #F24405;
    text-align: center;
    
}

h2 {
    color: #FA7F08;
}

p {
    text-align: justify;
}
